Repository munich-quantum-toolkit/bench, pull requests merged in 2024-10, with the labels that each got.

#394 🐛 Verify provider and device availability based on selected level
  src/mqt/bench/benchmark_generator.py
  tests/test_cli.py
Labels: usability, mqt.bench

#401 🔥 removing obsolete code for importlib backwards compatibility
  src/mqt/bench/devices/provider.py
  src/mqt/bench/utils.py
  src/mqt/bench/viewer/backend.py
  tests/test_benchviewer.py
Labels: python, usability, mqt.bench

#402 🐳 MQT Bench Docker Container
  .dockerignore
  .github/workflows/docker.yml
  Dockerfile
  src/mqt/bench/cli.py
  tests/test_cli.py
Labels: continuous integration, usability, feature, mqt.bench

#405 :bug: Fix an outdated reference to PennyLane
  README.md
  docs/index.rst
  frontend/src/mqt/bench/viewer/templates/index.html
Labels: bug, documentation

#406 👷 only run docker build if credentials are available
  .github/workflows/docker.yml
Labels: continuous integration, usability
